<header class="p-3 pb-0 border-bottom">
    <div class="d-flex justify-content-between align-items-end mb-3">
        <img src="{{ asset(profiles ~ user.avatar) }}" alt="dogs" style="width: 128px;" class="mt-1 rounded-circle bg-dark p-2">
         {# Change to to say 'follow' or 'edit profile' #}
        <button class="btn btn-outline-primary">Test btn</button>
    </div>
    {{ include('shared/_profile-summary.html.twig') }}
    <div class="d-flex flex-column mb-3">
        {% if user.bio %}
            <p>{{ user.bio }}</p>
        {% endif %}
        <div class="d-flex gap-3 flex-wrap">
            {% if user.websiteUrl %}
                <div>
                    {{include('shared/_icon.html.twig', {name: 'link-45deg', size: 16})}}
                    <a href="{% if 'http' not in user.websiteUrl and 'https' not in user.websiteUrl %}http://{% endif %}{{ user.websiteUrl }}"
                       class="text-primary">{{ user.websiteUrl }}</a>
                </div>
            {% endif %}
            {% if user.location.townCity or user.location.country %}
                <div>
                    {{include('shared/_icon.html.twig', {name: 'geo-alt', size: 16})}}
                    {% if user.location.townCity %}
                        <span>{{ user.location.townCity }},</span>
                    {% endif %}
                    {% if user.location.country %}
                        <span>{{ user.location.country }}</span>
                    {% endif %}
                </div>
            {% endif %}
            <div>
                {{include('shared/_icon.html.twig', {name: 'calendar4-week', size: 16})}}
                <span>{{ user.createdAt|date('Y-m-d') }}</span>
            </div>
        </div>
    </div>
    <ul class="profile__tabs">
        <li class="{{ activeTab == 'posts' ? 'active'}}"><a href="{{ path('app_profile_posts', { id: user.id })}}">Posts</a></li>
        <li class="{{ activeTab == 'likes' ? 'active'}}"><a href="{{ path('app_profile_likes', { id: user.id })}}">Likes</a></li>
        <li class="{{ activeTab == 'following' ? 'active'}}"><a href="{{ path('app_profile_following', { id: user.id })}}">Following</a></li>
        <li class="{{ activeTab == 'followers' ? 'active'}}"><a href="{{ path('app_profile_followers', { id: user.id })}}">Followers</a></li>
    </ul>
</header>