<header class="p-3 pb-0 border-bottom">
    <div class="d-flex justify-content-between align-items-end mb-3">
        {{ include('shared/_avatar.html.twig', { profile: user.profile, size: 128}) }}
        {% if app.user == user %}
            <a href="{{ path('app_settings_profile') }}" class="btn btn-outline-primary">Profile settings</a>
        {% else %}
            {{ include('follower/_follow_button.html.twig', {userToFollow: user}) }}
        {% endif %}

    </div>
    {{ include('shared/_profile-summary.html.twig', {user: user}) }}
    <div class="d-flex flex-column mb-3">
        {% if user.profile.bio %}
            <p>{{ user.profile.bio }}</p>
        {% endif %}
        <div class="d-flex gap-2 flex-wrap">
            {% if user.profile.websiteUrl %}
                <div>
                    {{include('shared/_icon.html.twig', {name: 'link-45deg', size: 16})}}
                    <a href="{% if 'http' not in user.profile.websiteUrl and 'https' not in user.profile.websiteUrl %}http://{% endif %}{{ user.profile.websiteUrl }}"
                       class="text-primary"
                       target="_blank">{{ user.profile.websiteUrl }}</a>
                </div>
            {% endif %}
            {% if user.profile.townCityCounty or user.profile.country %}
                <div>
                    {{include('shared/_icon.html.twig', {name: 'geo-alt', size: 16})}}
                    {% if user.profile.townCityCounty %}
                        <span>{{ user.profile.townCityCounty }},</span>
                    {% endif %}
                    {% if user.profile.country %}
                        <span>{{ user.profile.country }}</span>
                    {% endif %}
                </div>
            {% endif %}
            <div>
                {{include('shared/_icon.html.twig', {name: 'calendar4-week', size: 16})}}
                <span>{{ user.profile.created|date('Y-m-d') }}</span>
            </div>
        </div>
    </div>
    <ul class="profile__tabs">
        <li class="{{ activeTab == 'posts' ? 'active'}}"><a href="{{ path('app_profile_posts', { id: user.id })}}">Posts ({{user.posts|length}})</a></li>
        <li class="{{ activeTab == 'likes' ? 'active'}}"><a href="{{ path('app_profile_likes', { id: user.id })}}">Likes ({{user.likes|length}})</a></li>
        <li class="{{ activeTab == 'following' ? 'active'}}"><a href="{{ path('app_profile_following', { id: user.id })}}">Following ({{user.follows|length}})</a></li>
        <li class="{{ activeTab == 'followers' ? 'active'}}"><a href="{{ path('app_profile_followers', { id: user.id })}}">Followers ({{user.followers|length}})</a></li>
    </ul>
</header>