{% extends 'base.html.twig' %}

{% block breadcrumbs %}
    → {{ pageTitle }}
{% endblock %}

{% block content %}
    {% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}
    {{ form_start(registrationForm, {'attr': {class: 'px-3 py-4 border-bottom'}}) }}
        <div class="row">
            {{ form_row(registrationForm.email, {'attr': {class: 'form-control-lg mb-2' }, 'row_attr': {class: 'col-lg-6'}}) }}
        </div>
        <div class="row">
            {{ form_row(registrationForm.plainPassword.first, {'attr': {class: 'form-control-lg mb-2'}, 'row_attr': {class: 'col-lg-6'}}) }}
            {{ form_row(registrationForm.plainPassword.second, {'attr': {class: 'form-control-lg mb-2'}, 'row_attr': {class: 'col-lg-6'}}) }}
        </div>
        {{ form_row(registrationForm.agreeTerms) }}
        <div class="row">
            <div class="col-lg-6">
                <input type="submit" class="btn btn-primary w-100" value="Register">
            </div>
        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
