<div class="row">
    {{ form_row(form.name, {'attr': {class: 'form-control-lg mb-2' }, 'row_attr': {class: 'col-lg-6'}}) }}
    {{ form_row(form.avatar, {'attr': {class: 'form-control-lg mb-2' }, 'row_attr': {class: 'col-lg-6'}}) }}
</div>

<div class="row">
    {{ form_row(form.websiteUrl, {'attr': {class: 'form-control-lg mb-2' }, 'row_attr': {class: 'col-lg-6'}}) }}
    {{ form_row(form.dateOfBirth, {'attr': {class: 'form-control-lg mb-2' }, 'row_attr': {class: 'col-lg-6'}}) }}
</div>
<div class="row">
    {{ form_row(form.bio, {'attr': {class: 'form-control-lg mb-2' }, 'row_attr': {class: 'col-12'}}) }}
</div>