<div class="py-2 ps-3"></div>

<div class="pt-4 p-3 mt-4">
    {% if user is defined %}
        <div>
            <div class="mb-4 d-flex flex-column gap-1">
                <div class="fw-bold">{{ user.name }}</div>
                <div class="text-muted">{{ user.email }}</div>
                <div class="d-flex gap-2">
                    <a href="#">
                        <span class="fw-bold">{{ user.following|length }}</span> <span class="text-muted">following</span>
                    </a>
                    <a href="#">
                        <span class="fw-bold">{{ user.followers|length }}</span> <span class="text-muted">followers</span>
                    </a>
                </div>
            </div>
            <nav class="mb-4 d-flex flex-column gap-3">
                <a href="#" class="d-flex align-items-center gap-2 fw-bold">
                    {{include('shared/_icon.html.twig', {name: 'person-circle', size: 32})}} <span>Profile</span>
                </a>
                <a href="#" class="d-flex align-items-center gap-2 fw-bold">
                    {{include('shared/_icon.html.twig', {name: 'house', size: 32})}} <span>Home</span>
                </a>
                <a href="#" class="d-flex align-items-center gap-2 fw-bold">
                    {{include('shared/_icon.html.twig', {name: 'hash', size: 33})}} <span>Explore</span>
                </a>
            </nav>
            <a href="#" class="btn btn-primary w-100">Post</a>
        </div>
    {% else %}
        <div class="d-flex justify-content-center flex-column gap-2">
            <p class="text-center">You're not signed in, please select one of the buttons below</p>
            <a href="#" class="btn btn-primary">Login In</a>
            <a href="#" class="btn btn-primary">Sign Up</a>
        </div>
    {% endif %}
</div>