<div class="pt-4 p-3 mt-5 ">
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        {{ include('shared/_profile-summary.html.twig', {user: app.user}) }}
        <div>
            <nav class="mb-4 d-flex flex-column gap-3">
                <a href="{{ path('app_profile_posts', {id: app.user.id}) }}" class="d-flex align-items-center gap-3 fw-bold">
                    {{include('shared/_icon.html.twig', {name: 'person-circle', size: 32})}} <span>Profile</span>
                </a>
                <a href="{{ path('app_posts') }}" class="d-flex align-items-center gap-3 fw-bold">
                    {{include('shared/_icon.html.twig', {name: 'house', size: 32})}} <span>Home</span>
                </a>
                <a href="#" class="d-flex align-items-center gap-3 fw-bold">
                    {{include('shared/_icon.html.twig', {name: 'hash', size: 32})}} <span>Explore</span>
                </a>
                <div class="d-flex align-items-center gap-2 fw-bold">
                    {{include('shared/_icon.html.twig', {name: 'search', size: 32})}}
                    <input type="text" class="search-input rounded ps-2" placeholder="Search">
                </div>
                <a href="{{ path('app_logout') }}" class="d-flex align-items-center gap-3 fw-bold">
                    {{include('shared/_icon.html.twig', {name: 'box-arrow-left', size: 32})}} <span>Logout</span>
                </a>
            </nav>
            <a href="#" class="post-btn btn btn-primary w-100">{% if openPostInput is defined and openPostInput == 'true' %}Hide Post{% else %}Post{% endif %}</a>
        </div>
    {% else %}
        <div class="d-flex justify-content-center flex-column gap-2">
            <p class="text-center">You're not signed in, please select one of the buttons below</p>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Login In</a>
            <a href="{{ path('app_register') }}" class="btn btn-primary">Sign Up</a>
        </div>
    {% endif %}
</div>
