<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/bundled.min.css') }}">
        <script src="{{ asset('main.js') }}"></script>
    </head>
    <body>
        <div class="body-overlay"></div>

        {{ include('shared/_avatar.html.twig', { iconClasses: 'sidebar-icon position-fixed ms-3 mt-1'})}}
        <section class="page overflow-hidden position-relative d-block d-md-flex">
            <aside class="sidebar shadow">{{ include('_sidebar.html.twig') }}</aside>
            <div class="main">
                <header class="main-title-container">
                    <h1 class="">{{ pageTitle }}</h1>
                </header>
                <form class="post-container d-flex gap-2 align-items-start">
                    {{ include('shared/_avatar.html.twig', { iconClasses: ''})}}
                    <div class="d-flex flex-column flex-grow-1 align-items-end gap-2">
                        <textarea class="form-control" type="text" placeholder="Please type your post here..."></textarea>
                        <button class="btn btn-primary w-25">Post</button>
                    </div>
                </form>
                <div class="main-content px-3">{% block content %}{% endblock %}</div>
            </div>
        </section>
    </body>
</html>
