<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/bundled.min.css') }}">
        <script src="{{ asset('main.js') }}"></script>
    </head>
    <body>
        <div class="body-overlay"></div>
        <input type="hidden" id="route" value="{{ app.request.attributes.get('_route') }}" />
        <input type="hidden" id="posts_path" value="{{ app.request.getSchemeAndHttpHost() ~ path('app_posts') }}" />

        {{ include('shared/_avatar.html.twig', { iconClasses: 'sidebar-icon position-fixed ms-3 mt-1'})}}
        <section class="page overflow-hidden position-relative d-block d-md-flex">
            <aside class="sidebar">{{ include('_sidebar.html.twig') }}</aside>
            <div class="main position-relative">
                {{ include('shared/_frontend-flash-popover.html.twig')}}

                <header class="main-header">
                    {# Main title #}
                    <div class="main-title-container px-3">
                        <h1 class="py-1">{{ pageTitle }}</h1>
                    </div>
                    {# Breadcrumbs #}
                    <div class="breadcrumbs text-muted px-3 py-1 border-bottom border-end">
                        <a href="{{ path('app_posts') }}">Home</a>
                        {% block breadcrumbs %}{% endblock %}
                    </div>
                    {# Post/comment/editPost input #}
                    <form class="post-container d-flex gap-2 align-items-start {% if editPost is defined or comment is defined or (openPostInput is defined and openPostInput == 'true')  %}active{% endif %}">
                        {{ include('shared/_avatar.html.twig', { iconClasses: ''})}}
                        <div class="d-flex flex-column flex-grow-1 align-items-end gap-2">
                            <textarea
                                class="form-control post-input"
                                type="text"
                                placeholder="Please type your {% if comment is defined %}comment{% else %}post{% endif %} here...">{% if editPost is defined %}{{post.content}}{% endif %}</textarea>
                            <button class="btn btn-primary w-25">{% if comment is defined %}Comment{% else %}Post{% endif %}</button>
                        </div>
                    </form>
                </header>

                {# Main section #}
                <div class="main-content-container d-flex flex-column">
                    <section class="main-content">
                        {% block content %}{% endblock %}
                    </section>
                    <footer class="py-3 text-center mt-auto">
                        This is just some footer - &#169; Copyright Matthew Bindall <span class="year-output"></span>
                    </footer>
                </div>
            </div>
        </section>
    </body>
</html>
