<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link rel="stylesheet" href="{{ asset('styles/bundled.min.css') }}">
        <script src="{{ asset('main.js') }}"></script>
    </head>
    <body>
        <div class="body-overlay"></div>

        {# icon for the sidebar #}
        {% if user is defined %}
            <img src="{{ asset(profiles ~ user.avatar) }}" alt="dogs" style="width: 64px;" class=" sidebar-icon position-fixed ms-3 mt-3 rounded-circle bg-dark p-2">
        {% else %}
            {{ include ('shared/_icon.html.twig', { name : 'question-circle-fill', size: 32, classes: "sidebar-icon position-fixed ms-3 mt-3" })}}
        {% endif %}

        <section class="page overflow-hidden position-relative d-block d-md-flex">
            <div class="sidebar shadow">{{ include('_sidebar.html.twig') }}</div>
            <div class="main">
                <h1 class="py-1 px-3">{{ pageTitle }}</h1>
                <div class="main-content px-3">{% block content %}{% endblock %}</div>
            </div>
        </section>
    </body>
</html>
