<div class="post border-bottom px-3 py-4 d-inline-block w-100 position-relative {{ classes|default('') }}">
    <a href="{{ path('app_post_show', {id: post.id}) }}" class="post-show-link {% if hidePostLink is defined %}d-none{% endif %}"></a>
    <header class="post__header d-flex align-items-end gap-2 flex-wrap lh-sm">
        <a href="{{ path('app_profile_posts', {id: post.user.id}) }}" class="post__profile-link d-flex align-items-end gap-2">
            <h3 class="post__author h5 m-0">{{ post.user.name }}</h3>
            <span class="post__email text-muted">{{ post.user.email }}</span>
        </a>
        <span class="post__date text-muted">{{ post.created|date('Y-m-d') }}</span>
    </header>
    <div class="post__content py-3">
        {{ post.content }}
    </div>
    <footer class="post__footer d-flex justify-content-between">
        <a href="{{ path('app_post_comment', {id: post.id}) }}" class="post__icon">
            {{include('shared/_icon.html.twig', {name: 'chat-left', size: 24})}}
            <span class="ms-1">{{ post.comments|length }}</span>
        </a>
        <a href="{{ path('app_post_edit', {id: post.id, post: post})}}" class="post__icon">
            {{include('shared/_icon.html.twig', {name: 'pencil-square', size: 24})}}
        </a>
        <a href="" class="d-flex post__icon">
            {{include('shared/_icon.html.twig', {name: 'hand-thumbs-up', size: 24})}}
            <span class="ms-1 lh-sm align-self-center">{{ post.likedBy|length }}</span>
        </a>
        <a href="" class="post__icon copy-to-clipboard" data-url="{{ app.request.getSchemeAndHttpHost() ~ path('app_post_show', {id: post.id}) }}">
            {{include('shared/_icon.html.twig', {name: 'share', size: 24})}}
        </a>
    </footer>
</div>
