{% if profile and profile.avatar %}
    <div class="avatar-container {{ classes|default('') }}" style="width: {{ size }}px; height: {{ size }}px;">
        <img src="{{ asset(profiles ~ profile.avatar) }}" alt="">
    </div>
{% else %}
    <div class="avatar-container bg-light border-dark {{ classes|default('') }}" style="width: {{ size }}px; height: {{ size }}px;"></div>
{% endif %}
